<section>
  <div class="main container">
    <div class="row">
      <div class="col-sm">
        <h2>Patient GP Information</h2>

        <div class="container">
          <div class="row">
            <div class="col-sm font-weight-bold py-3">URN: </div>
            <div class="col-sm py-3">TST0000422</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Patient: </div>
            <div class="col-sm py-3">dasdasdas</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Patient's DOB: </div>
            <div class="col-sm py-3">11/11/90</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Referral Entered the System: </div>
            <div class="col-sm py-3">16/10/20</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Practice Telephone: </div>
            <div class="col-sm py-3"></div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Referrer: </div>
            <div class="col-sm py-3">qwerty qwerty</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Clinical Activity: </div>
            <div class="col-sm py-3"></div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Receiver: </div>
            <div class="col-sm py-3"></div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Radiographs: </div>
            <div class="col-sm text-danger py-3">No</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Primary care choice: </div>
            <div class="col-sm py-3">Urgent 2WW Referral</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Secondary care choice: </div>
            <div class="col-sm py-3">Urgent 2WW Referral</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Tertiary care choice: </div>
            <div class="col-sm py-3">Urgent 2WW Referral</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Triage Date: </div>
            <div class="col-sm py-3">Urgent 2WW Referral</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Comments to Referrer: </div>
            <div class="col-sm py-3">Urgent 2WW Referral</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">Comments from Triager: </div>
            <div class="col-sm py-3">Urgent 2WW Referral</div>
          </div>
        </div>

      </div>



      <div class="col-sm">
        <div class="line text-muted">.</div>
        <h2>Referral Status History</h2>

        <div class="container">
          <div class="row">
            <div class="col-sm font-weight-bold py-3">16 Oct 2020</div>
            <div class="col-sm py-3"></div>
            <div class="col-sm py-3">Received</div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">16 Oct 2020</div>
            <div class="col-sm py-3"></div>
            <div class="col-sm py-3">Sent to: Aintee Hospital<p>16 Oct 2020, 09:12 Provider received referral</p></div>
          </div>
          <div class="row">
            <div class="col-sm font-weight-bold py-3">16 Oct 2020</div>
            <div class="col-sm py-3"></div>
            <div class="col-sm py-3">Rejected: No X-rays (<a href="#" class="text-info">Rejection letter</a>)</div>
          </div>
          <div class="row">
            <div class="col font-weight-bold py-3">16 Oct 2020</div>
            <div class="col-sm py-3">
              <span id="status_1">current status</span>
            </div>
            <div class="col py-3">Rejected: No X-rays (<a href="#" class="text-info">Rejection letter</a>)</div>
          </div>
          <div class="d-flex justify-content-end">
            <button>Re-submit forms</button>
          </div>
        </div>

        <hr>

        <h2>Attachments</h2>
        <div>
          <p><a href="#" class="text-info">TST0000422_2YahNationalUrgentReferralForm.pdf</a></p>
          <p><a href="#" class="text-info">TST0000422_MedicalHistoryForm.pdf</a></p>
        </div>

        <hr>

        <h2>All Rejection Letters</h2>
        <div class="container">
          <div class="row">
            <div class="col-7">
              <p><a href="#" class="text-info py-3">Rejection Letter(16/10/20, 14:29).pdf</a></p>
            </div>
            <div class="col">
              <span id="status_2">current status</span>
            </div>
          </div>
          <p><a href="#" class="text-info py-4">Rejection Letter(16/10/20, 15:29).pdf</a></p>
          <p><a href="#" class="text-info py-4">Rejection Letter(16/10/20, 09:21).pdf</a></p>
          <p><a href="#" class="text-info py-4">Rejection Letter(16/10/20, 09:13).pdf</a></p>
        </div>
        <div class="line2">.</div>

      </div>
    </div>

  </div>

</section>
