<header>
  <div class="d-flex justify-content-between">
    <div>
      <h1>YOUR REFERRALS</h1>
      <br>
      <div class="d-flex align-content-between">
        <div><a href="#">In Triage</a></div>
        <div><a href="#">Completed</a></div>
        <div><a href="#">Drafts(1)</a></div>
        <div class="d-inline border rounded px-0"><a href="#" class="text-light">Rejected</a></div>
        <div><a href="#">Discharged</a></div>
        <div><a href="#">Archived</a></div>
      </div>
    </div>

    <div>
      <div class="input-group ">
        <form>
          <input type="search" placeholder='TST0000422'>
          <div class="input-group-append">
            <mat-icon id="search">search</mat-icon>
          </div>
        </form>
      </div>
      <br>
      <div class="d-flex justify-content-end">
        <button>Submit Referral</button>
      </div>
    </div>
  </div>

</header>





